.dashboard_page{
    width: 1500px;
    background-color: #c8abfd;
    margin: auto;
    padding-top: 0px;
    padding-left: 70px;
    padding-right: 85px;
}

.vis_container {
    width: 100%;
    background-color: blue;
}

body {
    font-family: "Open Sans", sans-serif;
}

.para_container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
    /* background-color: aqua; */
    padding: 10px;
    height: 1750px;
    flex-direction: row;
    width: 1500px;
}

.intro_container {
    flex: 1 1 50%; /* Takes up 50% of the available space */
    box-sizing: border-box;
    padding: 50px;
    /* background-color: yellow; */
    align-items: flex-start;
}

.img_container {
    flex: 0 0 50%; /* Fixed width for the image container */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.paragraph{
    font-size: 30px;
    font-weight: normal;
    /* margin-bottom: 20px; */
    margin: 0;
    line-height: 1.6;
    /* height: 100%; */
}

.pure-g {
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color:aqua; */
    width: 1500px;
    padding: 10px;
}

#title{
    font-size: 25px;
    font-weight: normal;
    margin: 0;
}

#maptitle{
	text-align: center;
    text-size-adjust: 10px;
}

#body_text{
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    line-height: 1.6;
}

#linetitle{
    text-align: center;
    text-size-adjust: 15px;
}

.chropleth_map_container {
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    /* margin-top: 20px; */
    top: 0px;
    background-color: navajowhite;
    padding: 10px;
    height: 500;
    width: 1500px;
    flex-direction: row;
}

.multiple_line_container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
    background-color: aqua;
    padding: 10px;
    height: auto;
    flex-direction: row;
    width: 1500px;
}

.line_graph_container {
    flex: 1 1 50%; /* Takes up 50% of the available space */
    box-sizing: border-box;
    padding: 50px;
    background-color: yellow;
    align-items: flex-start;
}

.gender_pie_container {
    display: flex;
    justify-content: center;
    /* align-items: stretch; */
    margin-bottom: 30px;
    background-color: aqua;
    padding: 10px;
    height: auto;
    flex-direction: row;
    width: 1500px;
    gap: 20px;
}

.visualisation_container{
    flex: 1; /* Takes up 50% of the available space */
    box-sizing: border-box;
    padding: 10px;
    /* background-color: white; */
    text-align: center;
    border-radius: 8px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Reduced shadow */
}

.visualisation div {
    width: 100%;
    height: 300px; /* Reduced height */
    max-width: 500px; /* Added max-width to keep the visual compact */
}

.fanbase_evo_container{
    display: flex;
    justify-content: center;
    /* align-items: stretch; */
    margin-bottom: 30px;
    background-color: aqua;
    padding: 10px;
    height: auto;
    flex-direction: row;
    width: 1500px;
}

.content_left{
    padding-right: 50px;
    padding-top: 10px;

}

.content_right{
    padding-left: 20px;
    padding-top: 10px;
}


#choropleth_map_popularity{
    top: 20px;
    /* align-items: center; */
    left: 200px;
    right: 500px; 
    bottom: 200px;
    /* text-align: center; */
    margin-bottom: 20px;
    /* height: 1000px; */
}

#bar_age{
    width: 80%;
    height: 80%;
    /* top: 10px; */
    left: 30px;
    right: 50px;
    bottom: 40px;
}

